<div class="container px-0 border shadow d-block">
  <div class="btn-toolbar bg-light pt-2 pb-1 d-flex justify-content-around border-bottom" role="toolbar" aria-label="Toolbar with button groups">
    @if (isSuperuser && !codiceIpa) {
      <button itButton class="btn btn-outline-success shadow d-block" (click)="newModal.toggle()">
        <it-icon color="success" size="lg" name="plus-circle"></it-icon>
        <span class="d-none d-xl-block text-success" translate>it.configuration.rule.new.button</span>
      </button>  
    }
    <button itButton class="btn shadow d-block" [disabled]="!(data && data.length > 0)" (click)="zoomOut()" >
      <it-icon color="primary" size="lg" name="zoom-out"></it-icon>
      <span class="d-none d-xl-block" translate>it.rule.graph.zoomout</span>
    </button>
    <button itButton class="btn shadow d-block" [disabled]="!(data && data.length > 0)" (click)="zoomIn()">
      <it-icon color="primary" size="lg" name="zoom-in"></it-icon>
      <span class="d-none d-xl-block" translate>it.rule.graph.zoomin</span>
    </button>
    <button itButton class="btn shadow d-block" [disabled]="!(data && data.length > 0)" (click)="swap()">
      <it-icon color="primary" size="lg" name="exchange-circle"></it-icon>
      <span class="d-none d-xl-block" translate>it.rule.graph.rotate</span>
    </button>
    <button itButton class="btn shadow d-block" [disabled]="!(data && data.length > 0)" (click)="fit()">
      <it-icon color="primary" size="lg" name="minimize"></it-icon>
      <span class="d-none d-xl-block" translate>it.rule.graph.fit</span>
    </button>
    <button itButton class="btn shadow d-block" [disabled]="!(data && data.length > 0)" (click)="expandAll()">
      <it-icon color="primary" size="lg" name="arrow-down-circle"></it-icon>
      <span class="d-none d-xl-block" translate>it.rule.graph.expand</span>
    </button>
    <button itButton class="btn shadow d-block" [disabled]="!(data && data.length > 0)" (click)="collapseAll()">
      <it-icon color="primary" size="lg" name="arrow-up-circle"></it-icon>
      <span class="d-none d-xl-block" translate>it.rule.graph.collapse</span>
    </button>
    <button itButton class="btn shadow d-block" [disabled]="!(data && data.length > 0)" (click)="compactGraph()">
      <it-icon color="primary" size="lg" name="piattaforme"></it-icon>
      <span class="d-none d-xl-block" translate>it.rule.graph.compact</span>
    </button>
    <button itButton class="btn shadow d-block" [disabled]="!(data && data.length > 0)" (click)="center()">
      <it-icon color="primary" size="lg" name="maximize-alt"></it-icon>
      <span class="d-none d-xl-block" translate>it.rule.graph.center</span>
    </button>
    <div class="pt-4 shadow d-block">
      <it-dropdown mode="button">
        <span button class="d-block px-4">
          <it-icon color="primary" class="d-block" size="lg" name="file-slides"></it-icon>
          <span translate>it.rule.graph.export.title</span>
        </span>
        <ng-container list>
          <it-dropdown-item [disabled]="!(data && data.length > 0)" (click)="exportImg(false)"><span translate>it.rule.graph.export.visible</span></it-dropdown-item>
          <it-dropdown-item [disabled]="!(data && data.length > 0)" (click)="exportImg(true)"><span translate>it.rule.graph.export.all</span></it-dropdown-item>
          <it-dropdown-item [disabled]="!(data && data.length > 0)" (click)="exportPdf()"><span translate>it.rule.graph.export.pdf</span></it-dropdown-item>
        </ng-container>
      </it-dropdown>
    </div>
  </div>
  <form *ngIf="filterFormSearch" [formGroup]="filterFormSearch">
    @if (company) {
      <div class="form-group mb-0">
          <it-select [options]="optionsWorkflow" formControlName="workflowId"></it-select>
      </div>
    } @else {
      <div class="form-group mb-0">
        <it-select [options]="optionsRule" formControlName="rootRule"></it-select>
      </div>
    }
  </form>
  <div class="row mx-0 bg-light">  
    <div class="col-md-9 ps-md-1 pe-md-0">
      @if (!data) {
        <div class="h-100 align-content-md-center">
          <div class="d-flex justify-content-center">
              <it-spinner double="true"></it-spinner>
          </div>
        </div>
      }      
      <div #chartContainer id="chartContainer" class="bg-secondary"></div>
    </div>
    <div class="col-md-3 px-md-1">
      <div class="bg-light">
        @if (company) {
          <div class="d-flex bg-dark text-white h3 mb-2 justify-content-center">
            <span translate>it.rule.satisfy</span>
          </div>
        }
        <div #chartdiv [style]="chartDivStyle"></div>
        @if (company) {
          <div class="d-flex text-dark h6 justify-content-center px-2">
            <span class="font-monospace">{{ 'it.rule.all' | translate: {rulesOK: rulesOK, all: data?.length, percent: rulesOK * 100/data?.length | number:'1.2-2' } }}</span>
          </div>
        }
      </div>  
      <it-tab-container #tab dark="true" (tabSelected)="tabSelected($event)">
        @if (company) {
          <it-tab-item #tabPA label="PA" icon="pa" [active]="tabPAActive">
            <it-list>
              <app-show-list-text [label]="'it.company.codiceIpa'" [value]="company.codiceIpa"></app-show-list-text>
              <app-show-list-text [label]="'it.company.denominazioneEnte'" [value]="company.denominazioneEnte"></app-show-list-text>
              <app-show-list-text [label]="'it.company.acronimo'" [value]="company.acronimo"></app-show-list-text>
              <app-show-list-text [label]="'it.company.codiceFiscaleEnte'" [value]="company.codiceFiscaleEnte"></app-show-list-text>
              <app-show-list-text [label]="'it.company.codiceCategoria'" [value]="company.codiceCategoria"></app-show-list-text>
              <app-show-list-text [label]="'it.company.codiceNatura'" [value]="company.codiceNatura"></app-show-list-text>
              <app-show-list-text [label]="'it.company.tipologia'" [value]="company.tipologia"></app-show-list-text>
              <app-show-list-text [label]="'it.company.sitoIstituzionale'" [value]="company.sitoIstituzionale" url="true"></app-show-list-text>
              <app-show-list-text [label]="'it.company.indirizzo'" [value]="company.fullIndirizzo"></app-show-list-text>
              <app-show-list-text [label]="'it.company.regione'" [value]="company.denominazioneRegione"></app-show-list-text>
              <it-list-item>
                <div class="d-flex justify-content-around w-100">
                  <app-show-workflow-history [codiceIpa]="company.codiceIpa"></app-show-workflow-history>
                  <a itButton="outline-warning" size="xs" class="mt-1" translate routerLink="/search" [queryParams]="{workflowId: '',codiceIpa: company.codiceIpa, sort: 'createdAt,desc'}">
                    <it-icon name="chart-line" color="warning"></it-icon>it.company.history
                  </a>
                  <a itButton="outline-success" size="xs" class="mt-1" translate routerLink="/company-map" [queryParams]="{codiceIpa: company.codiceIpa}">
                    <it-icon name="map-marker-circle" color="success"></it-icon>it.company.map
                  </a>
                </div>      
              </it-list-item>
            </it-list>
          </it-tab-item>
        }
        <it-tab-item #tabRule [label]="'it.rule.main'| translate" icon="file" [active]="tabRuleActive">
          <it-list>
            <app-show-list-text [label]="'it.rule.name'" [value]="currentNode?.data?.nodeId"></app-show-list-text>
            <app-show-list-text [label]="'it.rule.parent.name'" [value]="currentNode?.data?.parentNodeId"></app-show-list-text>
            <app-show-list-text [label]="'it.rule.term'" [value]="currentNode?.data?.term"></app-show-list-text>
            <app-show-list-text [label]="'it.rule.alternativeTerm'" [value]="currentNode?.data?.alternativeTerm"></app-show-list-text>
            <app-show-list-text [label]="'it.rule.children'" [value]="currentNode?._children?.length"></app-show-list-text>
            @if(currentNode?.data?.status) {
              <app-show-list-text [label]="'it.rule.status-label'" [value]="'it.rule.status.' + currentNode?.data?.status + '.ruletitle'| translate"></app-show-list-text>
            }
            <app-show-list-text [label]="'it.result.updatedAt'" [value]="currentNode?.data?.updatedAt| date: 'dd/MM/yyyy HH:mm:ss'"></app-show-list-text>
            <app-show-list-text [label]="'it.result.destinationUrl'" [value]="currentNode?.data?.destinationUrl" url="true"></app-show-list-text>
            @if (currentNode && !company && isSuperuser) {
              <it-list-item>
                <div class="w-100 d-flex justify-content-around">
                  <a itButton="outline-primary" size="xs" class="mt-1" (click)="openEditModal()">
                    <it-icon name="pencil" color="primary"></it-icon><span class="ms-1" translate>edit</span>
                  </a>
                  <a itButton="outline-success" size="xs" class="mt-1" (click)="openCreateModal()">
                    <it-icon name="plus-circle" color="success"></it-icon><span class="ms-1" translate>new</span>
                  </a>
                  <a itButton="outline-danger" size="xs" class="mt-1" (click)="deletePopconfirmModal.toggle()">
                      <it-icon name="delete" color="danger"></it-icon><span class="ms-1" translate>delete</span>
                    </a>
                </div>
              </it-list-item>
            }
            @if (company) {
              @if (currentNode?.data?.storageData?.screenshotId || currentNode?.data?.storageData?.objectId) {
                <it-list-item>
                  <div class="w-100 d-flex justify-content-around">
                    <app-show-storage-result class="w-100" [screenshot]="true" [storageData]="currentNode?.data?.storageData" [denominazione]="company.denominazioneEnte"></app-show-storage-result>
                    <app-show-storage-result class="w-100" [html]="true" [storageData]="currentNode?.data?.storageData" [denominazione]="company.denominazioneEnte"></app-show-storage-result>
                  </div>
                </it-list-item>  
              }
              @if (!currentNode?.data?.storageData?.objectId) {
                <it-list-item>
                  <div class="w-100 d-flex justify-content-around">
                    @if (currentNode?.data?.status == 404) {
                      <a itButton="outline-danger" class="mt-1" (click)="showErrorMessage(currentNode?.data?.parentNodeId)">
                        <it-icon name="error" color="danger"></it-icon><span class="ms-1" translate>it.result.errorMessage</span>
                      </a>
                    }
                    @if (currentNode?.data?.status != 407 && currentNode?.data?.status != 500 && currentNode?.data?.workflowChildId) {
                      <app-show-html-page
                        [workflowChildId]="currentNode?.data?.workflowChildId" 
                        [denominazione]="company.denominazioneEnte"
                        [searchText]="currentNode?.data?.term">
                      </app-show-html-page>
                    }
                  </div>
                </it-list-item>  
              }
            }
          </it-list>          
        </it-tab-item>
        <it-tab-item #tabFailed [label]="'it.rule.failed'| translate" icon="error" [active]="tabFailedActive">
          <it-list>
            @for (ruleFailed of rulesFailed; track ruleFailed.nodeId) {
              <it-list-item><label>{{ruleFailed.term}}</label></it-list-item>
            }
          </it-list>
        </it-tab-item>  
      </it-tab-container>
    </div>
  </div>
</div>

<it-modal #editModal="itModal" size="md" footerShadow="true" closeButton="false">
  <ng-container modalTitle>{{(editNode?.create ? 'it.configuration.rule.new.title' : 'it.configuration.rule.edit.title')| translate: {id: currentNode?.data?.nodeId} }}</ng-container>
  <form #editForm="ngForm">
    @if (editNode) {
      <div class="row">
        <div class="form-group col-md-12">
          <it-input [readonly]="!editNode.create" [(ngModel)]="editNode.nodeId" name="nodeId" [label]="'it.rule.name'| translate" required></it-input>
        </div>
        <div class="form-group col-md-12">
          <it-input [(ngModel)]="editNode.term" name="term" [label]="'it.rule.term'| translate" required></it-input>
        </div>
        <div class="form-group col-md-12">
          <div class="d-flex justify-content-end mb-n3">
            <a itButton (click)="editNode.alternativeTerm.push('')">
              <it-icon name="plus-circle" color="success"></it-icon><span class="text-success" translate>add</span>
            </a>  
          </div>
          <it-callout appearance="highlight" color="success" [label]="'it.rule.alternativeTerm'| translate">
            @for (term of editNode.alternativeTerm; track $index; let idx = $index) {
              <div class="row">
                <div class="col-md-8">
                  <it-input [(ngModel)]="editNode.alternativeTerm[idx]" name="alternativeTerm_{{idx}}" required></it-input>
                </div>
                <div class="col-md-4">
                  <a itButton class="pull-right" (click)="editNode.alternativeTerm.splice(idx, 1)">
                    <it-icon name="minus-circle" color="danger"></it-icon><span class="text-danger" translate>remove</span>
                  </a>  
                </div>
              </div>
            }  
          </it-callout>
        </div>
      </div>
    }
  </form>
  <ng-container footer>
    <button itButton="primary" size="sm" type="button" [disabled]="!editForm.valid" (click)="edit(editForm)" translate>button.ok</button>
    <button itButton="outline-secondary" size="sm" type="button" data-bs-dismiss="modal" translate>button.cancel</button>
  </ng-container>
</it-modal>

<it-modal #newModal="itModal" size="md" footerShadow="true" closeButton="true">
  <ng-container modalTitle>{{'it.configuration.rule.new.button'| translate }}</ng-container>
  <hr class="mt-n3 pb-2">
  <form [formGroup]="newRuleForm">
    <div class="form-check col-md-12 pb-4">
      <it-checkbox formControlName="keytype" [label]="'it.configuration.rule.new.keytype'| translate" toggle="true"></it-checkbox>
    </div>
    <div class="form-group col-md-12">
      @if (newRuleForm.controls.keytype.value) {
        <it-select formControlName="key" [label]="'it.configuration.rule.new.codice-categoria'| translate" [options]="optionsCategoria" required></it-select>
      } @else {
        <it-input formControlName="key" [label]="'it.configuration.rule.new.key'| translate" required></it-input>
      }
    </div>  
    <div class="form-group col-md-12 pt-4">
      <it-select [options]="optionsRule" [label]="'it.configuration.rule.new.copy-from'| translate" formControlName="copyFrom" required></it-select>
    </div>
  </form>
  <ng-container footer>
    <button itButton="primary" size="sm" type="button" [disabled]="!newRuleForm.valid" (click)="new()" translate>button.ok</button>
    <button itButton="outline-secondary" size="sm" type="button" data-bs-dismiss="modal" translate>button.cancel</button>
  </ng-container>
</it-modal>


<it-modal #deletePopconfirmModal="itModal" size="md" alignment="centered" footerShadow="true" closeButton="false">
  <ng-container modalTitle>{{'it.configuration.rule.delete.title'| translate}}</ng-container>
  <p innerHtml="{{'it.configuration.rule.delete.text' | translate: {term: currentNode?.data?.term} }}"></p>
  <ng-container footer>
    <button itButton="primary" size="sm" type="button" (click)="delete()" data-bs-dismiss="modal" translate>button.ok</button>
    <button itButton="outline-secondary" size="sm" type="button" data-bs-dismiss="modal" translate>button.cancel</button>
  </ng-container>
</it-modal>