<section class="home-main py-4 px-4" aria-labelledby="intro">
  <div class="row g-2">
    <h2 class="text-dark">{{'it.home.header1' | translate}}</h2>
    <div class="col-xl-3">
      @if (currentWorkflow) {
        <app-workflow-card class="w-100" [workflow]="currentWorkflow" [title]="false"></app-workflow-card>
      }
    </div>
    <div class="col-xl-6 px-0 mx-1 mx-md-0">
      <div class="ms-2 ms-md-0 shadow-lg bg-light h-100">
        @if(currentWorkflow) {
          <div class="d-flex bg-dark text-white h3 mb-2 justify-content-center">
            <span>{{'it.workflow.date' | translate: { startTime: currentWorkflow.startTime | date:'dd/MM/yyyy'} }}</span>
          </div>
        }
        @if (!currentWorkflow) {
          <div class="h-100 align-content-md-center">
            <div class="d-flex justify-content-center">
                <it-spinner double="true"></it-spinner>
            </div>
          </div>
        }
        <div #chartdiv class="w-100" [style]="chartDivStyle"></div>    
      </div>
    </div>
    <div class="col-xl-3">      
      <it-card space="true" background="true">
        <div class="d-flex bg-dark text-white h3 legend mb-2 justify-content-center">
          <span translate>it.home.legend</span>
        </div>
        <it-list linkList="true" multiline="true">
          <it-list-item>
            <span itBadge="success">&nbsp;&nbsp;</span>
            <span class="list-item-title-icon-wrapper">
              <span class="list-item-title h3" translate>it.rule.status.200.title</span>
            </span>
            <small class="d-block fw-light ps-5" translate>it.rule.status.200.subtitle</small>
          </it-list-item>
          <it-list-item>
            <span class="divider"></span>
          </it-list-item>
          <it-list-item>
            <span itBadge="warning">&nbsp;&nbsp;</span>
            <span class="list-item-title-icon-wrapper">
              <span class="list-item-title h3" translate>it.rule.status.202.title</span>
            </span>
            <small class="d-block fw-light ps-5" translate>it.rule.status.202.subtitle</small>
          </it-list-item>
          <it-list-item>
            <span class="divider"></span>
          </it-list-item>
          <it-list-item>
            <span itBadge="danger">&nbsp;&nbsp;</span>
            <span class="list-item-title-icon-wrapper">
              <span class="list-item-title h3" translate>it.rule.status.400.title</span>
            </span>
            <small class="d-block fw-light ps-5" translate>it.rule.status.400.subtitle</small>
          </it-list-item>
          <it-list-item>
            <span class="divider"></span>
          </it-list-item>
          <it-list-item>
            <span class="badge complementary-1-bg-b1 text-sm-left">&nbsp;&nbsp;</span>
            <span class="list-item-title-icon-wrapper">
              <span class="list-item-title h3" translate>it.rule.status.407.title</span>
            </span>
            <small class="d-block fw-light ps-5" translate>it.rule.status.407.subtitle</small>
          </it-list-item>
          <it-list-item>
            <span class="divider"></span>
          </it-list-item>
          <it-list-item>
            <span class="badge complementary-1-bg-a12 text-sm-left">&nbsp;&nbsp;</span>
            <span class="list-item-title-icon-wrapper">
              <span class="list-item-title h3" translate>it.rule.status.500.title</span>
            </span>
            <small class="d-block fw-light ps-5" translate>it.rule.status.500.subtitle</small>
          </it-list-item>
          <it-list-item>
            <span class="divider"></span>
          </it-list-item>
        </it-list>
        <it-callout color="note" label="{{'it.rule.legend.title' | translate}}">
          <a href="https://www.indicepa.gov.it" target="_blank" class="px-0">
            <span class="text-monospace d-block mt-n4 mb-n2" translate>it.rule.legend.subtitle</span>
          </a>
        </it-callout>
      </it-card>
    </div>
  </div>
</section>
@if (workflows) {
  <section class="section section-background-header py-5">
    <div class="container">
      <div class="row">
        <h2 class="text-white">{{'it.workflow.last-execution' | translate}}</h2>
      </div>
      <it-carousel type="three-cols-arrow-visible" class="shadow" lined="true">
        @for (workflow of workflows; track workflow) {
          @if(workflow?.workflowId !== currentWorkflow?.workflowId) {
            <it-carousel-item>
              <div class="card-wrapper">
                <app-workflow-card class="w-100" [workflow]="workflow"></app-workflow-card>
              </div>
            </it-carousel-item>  
          }
        }
      </it-carousel>
    </div>  
  </section>  
}
