<div class="container pt-4">
  <it-list linkList="true">
    <it-list-item iconRight="true" class="border p-2">
      <a
        class="list-item large medium icon-right"
        role="button"
        tabindex="0"
        [attr.aria-expanded]="itCollapse.isOpen()"
        (click)="itCollapse.toggle()"
        (keydown)="itCollapse.toggle()">
        <span class="list-item-title-icon-wrapper">
          <span class="list-item-title" translate>it.configuration.cron.title</span>
          <it-icon name="expand" color="primary"></it-icon>
        </span>
      </a>
      <it-collapse #itCollapse="itCollapse">
        <a (click)="cronConfirm()" class="btn btn-outline-primary pull-right">
          <it-icon name="pencil" color="primary"></it-icon><span translate>it.navigation.confirm</span>
        </a>
        <bs5-unix-cron #cron [(ngModel)]="cronValue" (tabChanged)="onTabChanged($event)" [activeTab]="activeTab" [tabs]="tabs" [localization]="localization"></bs5-unix-cron>
      </it-collapse>
    </it-list-item>
  </it-list>    

  <it-modal #headerPopconfirmModal="itModal" closeButton="true" popconfirm="true">
    <ng-container modalTitle><span translate>modal.title.info</span></ng-container>

    <p innerHtml="{{'it.configuration.cron.message'| translate:{nextDate: nextDate| date:'dd/MM/yyyy \'alle ore\' HH'} }}"></p>

    <ng-container footer>
      <button itButton="primary" (click)="cronSave()" size="sm" type="button" data-bs-dismiss="modal" translate>button.ok</button>
      <button itButton="outline-secondary" size="sm" type="button" data-bs-dismiss="modal" translate>button.cancel</button>
    </ng-container>
  </it-modal>
</div>
