<div class="container pt-4">
  <div class="border border-top-0 border-bottom-0">
    <it-accordion title="{{'it.configuration.cron.title'| translate}}" opened="true">
      <button (click)="cronConfirm()" role='button' class="btn pull-right py-sm-1 py-md-2 px-sm-1 px-md-4">
        <it-icon name="pencil" color="primary"></it-icon>{{'it.navigation.confirm' | translate}}
      </button>
      <bs5-unix-cron #cron [(ngModel)]="cronValue" (tabChanged)="onTabChanged($event)" [activeTab]="activeTab" [tabs]="tabs" [localization]="localization"></bs5-unix-cron>
    </it-accordion> 
    <it-accordion title="{{'it.configuration.cron.workflow'| translate}}">
      <form #workflowURLForm="ngForm">
        <div class="d-flex">
          <div class="flex-grow-1">
            <it-input [(ngModel)]="workflowURL" name="workflowURL" type="url" required [label]="'it.configuration.cron.workflow-url'| translate">
              <it-icon name="link" size="sm" color="primary" prependText></it-icon>
            </it-input>  
          </div>
          <div>
            <button (click)="cronConfirmWorkflowURL()" [disabled]="!workflowURLForm.valid" role='button' class="btn py-sm-1 py-md-2 px-sm-1 px-md-4">
              <it-icon name="pencil" color="primary"></it-icon>{{'it.navigation.confirm' | translate}}
            </button>  
          </div>
        </div>
      </form>
      <it-callout appearance="highlight" color="note" label="{{'it.configuration.cron.workflow-body' | translate}}">
        <form [formGroup]="workflowBODYForm">
          <div class="row col-md-12">
            <div class="form-group col-md-2">
              <it-input type="number" required [min]="100" 
                [max]="2000" [step]="100" formControlName="page_size" 
                [label]="'it.configuration.cron.body.page_size'| translate"></it-input>
            </div>
            <div class="form-group col-md-3">
              <ng-select formControlName="codice_categoria"  [placeholder]="'it.company.codiceCategoria'| translate">
                  @for (categoria of optionsCategoria; track categoria.value) {
                      <ng-option [value]="categoria.value">{{categoria.text}}</ng-option>
                  }
              </ng-select>
            </div>
            <div class="form-group col-md-2">
              <it-checkbox formControlName="execute_child" [label]="'it.configuration.cron.body.execute_child'| translate" toggle="true"></it-checkbox>
            </div>
            <div class="form-group col-md-2">
              <it-checkbox formControlName="crawler_save_object" [label]="'it.configuration.cron.body.crawler_save_object'| translate" toggle="true"></it-checkbox>
            </div>
            <div class="form-group col-md-3">
              <it-checkbox formControlName="crawler_save_screenshot" [label]="'it.configuration.cron.body.crawler_save_screenshot'| translate" toggle="true"></it-checkbox>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="form-group col-md-4">
              <app-rule-select [optionsRule]="optionsRule" [form]="workflowBODYForm" controlName="rule_name"></app-rule-select>
            </div>
            <div class="form-group col-md-2">
              <it-input type="number" required [min]="1000" 
                [max]="30000" [step]="1000" formControlName="connection_timeout" 
                [label]="'it.configuration.cron.body.connection_timeout'| translate"></it-input>
            </div>
            <div class="form-group col-md-2">
              <it-input type="number" required [min]="1000" 
                [max]="30000" [step]="1000" formControlName="read_timeout" 
                [label]="'it.configuration.cron.body.read_timeout'| translate"></it-input>
            </div>
            <div class="form-group col-md-2">
              <it-input type="number" required [min]="1000" 
                [max]="60000" [step]="1000" formControlName="connection_timeout_max" 
                [label]="'it.configuration.cron.body.connection_timeout_max'| translate"></it-input>
            </div>
            <div class="form-group col-md-2">
              <it-input type="number" required [min]="1000" 
                [max]="60000" [step]="1000" formControlName="read_timeout_max" 
                [label]="'it.configuration.cron.body.read_timeout_max'| translate"></it-input>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="form-group col-md-4">
              <it-select
                formControlName="crawler_child_type"
                [label]="'it.configuration.cron.body.crawler_child_type'| translate"
                defaultOption="Seleziona un elemento">
                <option value="START_WORKFLOW">START WORKFLOW</option>
                <option value="SUB_WORKFLOW">SUB WORKFLOW</option>
              </it-select>
            </div>
            <div class="form-group col-md-4">
              <it-input formControlName="result_base_url" type="url" required [label]="'it.configuration.cron.body.result_base_url'| translate">
                <it-icon name="link" size="sm" color="primary" prependText></it-icon>
              </it-input>
            </div>
            <div class="form-group col-md-4">
              <it-input formControlName="crawler_uri" type="url" required [label]="'it.configuration.cron.body.crawler_uri'| translate">
                <it-icon name="link" size="sm" color="primary" prependText></it-icon>
              </it-input>
            </div>
          </div>
          <div class="row justify-content-md-end">
            <div class="form-group col-md-auto">
              <button (click)="cronConfirmWorkflowBODY()" [disabled]="!workflowBODYForm.valid" role='button' class="btn">
                <it-icon name="pencil" color="primary"></it-icon>{{'it.navigation.confirm' | translate}}
              </button>  
            </div>
          </div>
        </form>        
      </it-callout>
    </it-accordion>  
  </div> 
  
  <it-modal #headerPopconfirmModal="itModal" closeButton="true" popconfirm="true">
    <ng-container modalTitle><span translate>modal.title.info</span></ng-container>

    <p innerHtml="{{'it.configuration.cron.message'| translate:{nextDate: nextDate| date:'dd/MM/yyyy \'alle ore\' HH'} }}"></p>

    <ng-container footer>
      <button itButton="primary" (click)="cronSave()" size="sm" type="button" data-bs-dismiss="modal" translate>button.ok</button>
      <button itButton="outline-secondary" size="sm" type="button" data-bs-dismiss="modal" translate>button.cancel</button>
    </ng-container>
  </it-modal>
</div>
