<footer class="it-footer">
    <div class="it-footer-main bg-dark">
        <div class="container">
            <section>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="it-brand-wrapper">
                        <a [routerLink]="['/']" class="navbar-brand logo">
                            <it-icon name="pa"></it-icon>
                            <div class="it-brand-text ps-2">
                                <h2 class="no_toc">{{'header.title' | translate}}</h2>
                                <h3 class="no_toc d-none d-md-block">{{'header.subtitle' | translate}}</h3>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <p class="text-justify">{{'footer.first' | translate}}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="it-footer-main bg-light">
        <div class="container">
            <section class="py-4 bg-light border-top text-primary">
                    <div class="container pb-2">
                        <div class="row justify-content-md-center">
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="px-2">
                                    <a class="p-2" href="https://cnr.it/" target="_blank">
                                        <img class="logo" src="./assets/images/logo_CNR_affiancato.png"/>
                                        <span class="sr-only">CNR</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex align-items-center">
                                <div class="px-2">
                                    <a class="p-2" href="https://www.anticorruzione.it/" target="_blank">
                                        <img class="logo" src="./assets/images/anac.png"/>
                                        <span class="sr-only">ANAC</span>
                                    </a>        
                                </div>
                            </div>
                        </div>
                    </div>
            </section>    
        </div>        
    </div>
    <div class="it-footer-small-prints clearfix">
        <div class="container">
            <h3 class="sr-only">Sezione Link Utili</h3>
            <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
                <li class="list-inline-item">
                    <a routerLink="/note-legali" title="Note Legali">Note legali</a>
                </li>
                <li class="list-inline-item">
                    <a routerLink="/privacy-policy" title="Privacy-Cookies">Privacy policy</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<it-back-to-top [shadow]="true" [dark]="false"></it-back-to-top>
