<div class="container pt-4">
  <p>
    La piattaforma raggiungibile tramite la URL <a href="https://www.trasparenzai.it">https://www.trasparenzai.it</a> costituisce uno strumento informatico sperimentale per il recupero 
    delle informazioni pubblicate dalle pubbliche amministrazioni ai sensi del D.Lgs 33/2013 e ss.mm.ii. 
    messo a punto dal Consiglio Nazionale delle Ricerche, in virtù del Protocollo d’intesa tra l’Autorità Nazionale Anticorruzione e il 
    Consiglio Nazionale delle Ricerche - 7 agosto 2023, finalizzato a contribuire alla realizzazione della Piattaforma Unica della Trasparenza.  
  </p>
  <p>
    La stessa è frutto di attività di ricerca scientifica a carattere sperimentale, finalizzata alla messa a punto e al trasferimento 
    tecnologico di uno strumento automatico di analisi e consultazione delle informazioni sulla trasparenza amministrativa delle 
    Pubbliche Amministrazioni pubblicate nelle rispettive sezioni “Amministrazione Trasparente” dei siti web istituzionali.
  </p>  
  <p>
    La piattaforma, tuttora in corso di sviluppo, è composta da una serie di componenti per la realizzazione di: 
    1) un innovativo crawler “intelligente” parametrizzabile, in grado di individuare sui siti web della pubblica amministrazione 
    la sezione “Amministrazione Trasparente”, verificare la correttezza e la completezza della sua struttura, 
    classificare le informazioni in essa pubblicate al fine di poterle analizzare anche da un punto di vista semantico; 
    2) uno strumento (User Interface) di consultazione unica ed agevole da parte dei cittadini delle informazioni relative 
    alla trasparenza di qualsiasi pubblica amministrazione.
  </p>
  <h5>
    Poiché il presente strumento è un insieme di componenti software sperimentali messi a punto per finalità di ricerca scientifica, 
    l’analisi dei dati effettuata dalla piattaforma non riveste carattere di ufficialità da parte di ANAC e CNR e non ha 
    caratteristiche di completezza ed assoluta esattezza.  
  </h5>
</div>
