<app-layout-title [title]="'it.search.title'" [titleClass]="'main-title'" [collapsediv]="collapse" [isCollapsable]="'true'" (collapseEvent)="collapse = $event"></app-layout-title>
<app-list-header-layout>
    <form *ngIf="filterFormSearch" class="clearfix" [formGroup]="filterFormSearch" [ngClass]="{'d-none': collapse, 'd-block': !collapse}">
        <div class="row col-md-12">
            <div class="form-group col-md-3">
                <ng-select formControlName="workflowId"  [placeholder]="'it.workflow.id'| translate">
                    @for (workflow of optionsWorkflow; track workflow.value) {
                        <ng-option [value]="workflow.value">{{workflow.text}}</ng-option>
                    }
                </ng-select>
            </div>
            <div class="form-group col-md-6">
                <app-rule-select [optionsRule]="optionsRule" [form]="filterFormSearch" controlName="ruleName" [value]="ruleName"></app-rule-select>
            </div>    
            <div class="form-group col-md-3">
                <ng-select formControlName="status"  [placeholder]="'it.rule.status-label'| translate">
                    @for (status of optionsStatus; track status.value) {
                        <ng-option [value]="status.value" [disabled]="status.disabled">{{status.text}}</ng-option>
                    }
                </ng-select>
            </div>
         </div>           
         <div class="row col-md-12">
            <div class="form-group col-md-6">
                <it-input formControlName="denominazioneEnte" [label]="'it.company.denominazioneEnte'| translate">
                    <it-icon [name]="'pa'" size="sm" color="primary" prependText></it-icon>
                </it-input>
            </div>    
            <div class="form-group col-md-6">
                <it-input formControlName="codiceFiscaleEnte" [label]="'it.company.codiceFiscaleEnte'| translate">
                    <it-icon [name]="'card'" size="sm" color="primary" prependText></it-icon>
                </it-input>
            </div>    
        </div>
        <div class="row col-md-12">        
            <div class="form-group col-md-4">        
                <it-input formControlName="codiceIpa" [label]="'it.company.codiceIpa'| translate">
                    <it-icon [name]="'key'" size="sm" color="primary" prependText></it-icon>
                </it-input>
            </div>
            <div class="form-group col-md-4">
                <ng-select formControlName="codiceCategoria"  [placeholder]="'it.company.codiceCategoria'| translate">
                    @for (categoria of optionsCategoria; track categoria.value) {
                        <ng-option [value]="categoria.value">{{categoria.text}}</ng-option>
                    }
                </ng-select>
            </div>    
            <div class="form-group" [class]="isCSVVisible ? 'col-md-3' : 'col-md-4'">
                <ng-select formControlName="sort"  [placeholder]="'it.order.title'| translate">
                    @for (sort of options; track sort.value) {
                        <ng-option [value]="sort.value">{{sort.text}}</ng-option>
                    }
                </ng-select>
            </div>
            @if (isCSVVisible) {
                <div class="form-group col-md-1">
                    <div class="d-flex align-content-end flex-wrap">
                        <a href="" (click)="downloadCsv()" class="mt-auto fw-bolder text-success text-decoration-none"><span class="pe-1" translate>it.download_as</span></a>
                        <div>
                            <a href="" (click)="downloadCsv()" class="icon-link d-flex align-items-center">
                                <it-icon size="lg" *ngIf="!isLoadingCsv" name="file-csv" class="bg-light" color="success"></it-icon>
                                <it-spinner *ngIf="isLoadingCsv" double="true"></it-spinner>
                            </a>    
                        </div>
                    </div>
                </div>    
            }
        </div>
    </form>    
    <result-list *ngIf="filterFormSearch" [filterForm] = "filterFormSearch"></result-list>
<app-list-header-layout>
