<div class="container pt-4">
  <p innerHtml="{{'privacy-policy.paragrafo1'|translate}}"></p>
  <p innerHtml="{{'privacy-policy.paragrafo2'|translate}}"></p>
  <p innerHtml="{{'privacy-policy.paragrafo3'|translate}}"></p>
  <p innerHtml="{{'privacy-policy.paragrafo4'|translate}}"></p>
  <p innerHtml="{{'privacy-policy.paragrafo5'|translate}}"></p>
  <p innerHtml="{{'privacy-policy.paragrafo6'|translate}}"></p>
  <p innerHtml="{{'privacy-policy.paragrafo7'|translate}}"></p>
  <p innerHtml="{{'privacy-policy.paragrafo8'|translate}}"></p>
  <p innerHtml="{{'privacy-policy.paragrafo9'|translate}}"></p>
</div>
