<div class="container pt-4">
  <p>
    Ai sensi del Regolamento (UE) 2016/679 (di seguito "Regolamento"), questa pagina descrive le modalità di trattamento dei dati personali 
    degli utenti che consultano il sito web accessibile per via telematica al seguente indirizzo: <a href="https://www.trasparenzai.it">https://www.trasparenzai.it</a>
  </p>
  <p>
    Le presenti informazioni non riguardano altri siti, pagine o servizi online raggiungibili tramite link ipertestuali eventualmente pubblicati nel sito ma riferiti a risorse esterne al dominio sopra indicato.
    Il titolare del trattamento dei dati è il Consiglio Nazionale delle Ricerche (CNR)
    Sede legale: Piazzale Aldo Moro, 7 - 00185 Roma, Italia;
    PEC: <a href="mailto:protocollo-ammcen@pec.cnr.it">protocollo-ammcen&#64;pec.cnr.it</a>.  
  </p>  
  <p>
    Punto di contatto del titolare per l’esercizio dei diritti in merito a questo sito web: Ivan Duca - email: <a href="mailto:ivan.duca@cnr.it">ivan.duca&#64;cnr.it</a>.
    Il Responsabile per la Protezione Dati può essere contattato ai seguenti recapiti:
    email: <a href="mailto:rpd@cnr.it">rpd&#64;cnr.it</a> (a scelta è possibile utilizzare anche <a href="mailto:dpo@cnr.it">dpo&#64;cnr.it</a>), 
    PEC: <a href="mailto:rpd@pec.cnr.it">rpd&#64;pec.cnr.it</a>.
    
    I dati personali indicati in questa pagina sono trattati dal CNR nell'esecuzione dei propri compiti di interesse pubblico o comunque connessi all'esercizio dei propri pubblici poteri che gli attribuiscono il compito di svolgere, promuovere, e valorizzare ricerche nei principali settori della conoscenza, perseguendo l’integrazione di discipline e tecnologie; di trasferirne e di applicarne i risultati per lo sviluppo scientifico, culturale, tecnologico, economico e sociale del Paese e di fornire supporto tecnico-scientifico agli organi costituzionali e alle amministrazioni pubbliche.
    Le tipologie di dati trattati consistono in dati di navigazione.  
  </p>
  <p>
    I sistemi informatici e le procedure software preposte al funzionamento di questo sito acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di Internet.
    In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer e dei terminali utilizzati dagli utenti, gli indirizzi in notazione URI/URL (Uniform Resource Identifier/Locator) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione dei dati ottenuti in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente.
    Tali dati, necessari per la fruizione dei servizi web, vengono anche trattati allo scopo di:
    -ottenere informazioni statistiche sull'uso dei servizi (pagine più visitate, numero di visitatori per fascia oraria o giornaliera, aree geografiche di provenienza, ecc.);
    -controllare il corretto funzionamento dei servizi offerti.  
  </p>
  <p>
    I dati di navigazione non persistono per più di sette giorni (salve eventuali necessità di accertamento di reati da parte dell'Autorità giudiziaria).
    Eventuali dati comunicati dall'utente mediante l'invio facoltativo, esplicito e volontario di messaggi agli indirizzi di contatto indicati sul sito web comportano l'acquisizione dei dati di contatto del mittente, necessari a rispondere, nonché di tutti i dati personali inclusi nelle comunicazioni.
    Non viene fatto uso di cookie per la profilazione degli utenti.
  </p>
  <p>
    La configurazione adottata, in modo da escludere trattamenti di dati identificativi, raccoglie le seguenti informazioni:
  </p>
  <ul>
    <li>L’indirizzo IP, che viene mascherato azzerando gli ultimi 2 byte (xxx.xxx.0.0)</li>
    <li>Il sistema operativo utilizzato</li>
    <li>Il tipo di browser</li>
    <li>Il tipo di dispositivo (PC, smartphone, etc.)</li>
  </ul>
  <p> 
    Viene fatto uso di cookie tecnici di sessione (non persistenti), in modo strettamente limitato a quanto necessario per la navigazione sicura ed efficiente dei siti.
    Gli interessati hanno il diritto di ottenere dal CNR, nei casi previsti, l'accesso ai propri dati personali e la rettifica o la cancellazione degli stessi o la limitazione del trattamento che li riguarda o di opporsi al trattamento (artt. 15 e ss. del Regolamento). 
    L'apposita istanza è presentata contattando l’indirizzo <a href="mailto:ivan.duca@cnr.it">ivan.duca&#64;cnr.it</a> oppure il Responsabile della protezione dei dati del CNR via email: <a href="mailto:rpd@cnr.it">rpd&#64;cnr.it</a> (a scelta è possibile utilizzare anche <a href="mailto:dpo@cnr.it">dpo&#64;cnr.it</a>) o via PEC: <a href="mailto:rpd@pec.cnr.it">rpd&#64;pec.cnr.it</a>
  </p>
  <p>
    Gli interessati che ritengono che il trattamento dei dati personali a loro riferiti effettuato attraverso questo sito avvenga in violazione di quanto previsto dal Regolamento hanno il diritto di proporre reclamo al Garante, come previsto dall'art. 77 del Regolamento stesso, o di adire le opportune sedi giudiziarie (art. 79 del Regolamento).
  </p>
</div>
