<it-header
  [loginStyle]="'none'"
  [showSearch]="search"
  [sticky]="sticky"
  [megamenu]="true"
  [slimTitle]="companylabel | translate"
  [slimTitleLink]="'header.company.url' | translate"
  (searchClick)="onSearch()">
  <ul class="link-list" slimLinkList>
    <li><a class="list-item" [routerLinkActive]="['active']" routerLink="/credits">Credits</a></li>
    @if(menuLinks && menuLinks.length !== 0) {
      @for(menulink of menuLinks; track menulink ) {
        <li><a class="list-item" href="{{menulink.url}}" target="{{menulink.target}}">{{menulink.label}}</a></li>
      }
    }
  </ul>
  <ng-container slimRightZone>
    @if (!authenticated) {
      <a itButton="primary" class="btn-full btn-icon" routerLink="auth/signin">
        <span class="rounded-icon">
          <it-icon name="user" color="primary"></it-icon>
        </span>
        <span class="d-none d-lg-block">{{ 'it.navigation.full-login' | translate }}</span>
      </a>  
    }
    @if (authenticated && userData) {
      <div class="d-flex ps-2 pe-1 pt-1">
        <div itAvatar size="lg" color="green">
          <p aria-hidden="true">{{userData.given_name| firstLetter}}{{userData.family_name| firstLetter}}</p>
          <span class="visually-hidden">{{userData.name}}</span>
        </div>
        <it-dropdown mode="nav">
          <span class="d-none d-md-block" button>{{userData.name}}</span>
          <ng-container list>
            <it-dropdown-item>
              <a href="#"
                class="px-0"
                (click)="logout()">
                <it-icon size="md" color="primary" name="logout" class="user-icon"></it-icon>
                <span translate>it.navigation.logout</span>      
              </a>
            </it-dropdown-item>
            @if (isAdmin) {
              <it-dropdown-item>
                <a routerLink="/configuration" class="px-0">
                  <it-icon size="md" color="primary" name="settings" class="user-icon"></it-icon>
                  <span translate>it.navigation.configuration</span>      
                </a>
              </it-dropdown-item>  
            }
          </ng-container>
        </it-dropdown>  
      </div>
    }
  </ng-container>
  <ng-container brand>
    <a routerLink="/">
      <div class="it-brand-text d-flex align-items-center">
        <svg width="82" height="82" class="icon" aria-hidden="true">       
          <image xlink:href="./assets/images/logo.png" width="82" height="82"></image>    
        </svg>
        <div class="it-brand-text">
          <div class="it-brand-title">{{'header.title' | translate}}</div>
          <div class="it-brand-tagline d-none d-md-block">{{'header.subtitle' | translate}}</div>
        </div>
      </div>
    </a>
  </ng-container>
  <div class="d-flex" rightZone>
    <div class="it-search-wrapper">
      <span class="d-none d-xl-block h6">{{ 'it.company.search' | translate }}</span>
      <a
        class="search-link rounded-icon"
        [attr.aria-label]="'it.company.search' | translate"
        href="{{searchHREF}}">
        <it-icon name="search"></it-icon>
      </a>
    </div>
  </div>
  <ng-container navItems>
    <it-navbar-item>
      <a class="nav-link close-menu"  (click)="toggleCollapse()" [routerLinkActive]="['active']" routerLink="/company-map">
        <it-icon size="sm" class="d-none d-xl-block" [color]="iconColor" name="map-marker-circle"></it-icon>
        <span translate>it.navigation.map</span>
      </a>
    </it-navbar-item>
    <it-navbar-item>
      <a class="nav-link close-menu"  (click)="toggleCollapse()" [routerLinkActive]="['active']" routerLink="/company-graph">
        <it-icon size="sm" class="d-none d-xl-block" [color]="iconColor" name="settings"></it-icon>
        <span class="ps-1" translate>it.navigation.rule</span>
      </a>
    </it-navbar-item>
    @if (authenticated) {
      <it-navbar-item>
        <it-dropdown mode="nav">
          <span button translate>it.navigation.grafici-mappe.title</span>
          <ng-container list>
            <it-dropdown-item>
              <a href="#"  
                translate 
                (click)="toggleCollapse()" 
                [routerLinkActive]="['active']" 
                routerLink="/result-pie">
                <it-icon size="sm" name="chart-line"></it-icon>
                <span translate>it.navigation.grafici-mappe.grafico-regola</span>      
              </a>
            </it-dropdown-item>
            <it-dropdown-item>
              <a href="#"  
              translate 
              (click)="toggleCollapse()" 
              [routerLinkActive]="['active']"
              [queryParams]="{filter: true, nolocation: true}"
              routerLink="/company-map">
              <it-icon size="sm" name="map-marker-circle"></it-icon>
              <span translate>it.navigation.grafici-mappe.mappa-regola</span>              
            </a>
            </it-dropdown-item>
          </ng-container>
        </it-dropdown>
      </it-navbar-item>    
      <it-navbar-item>
        <it-dropdown mode="nav">
          <span button translate>it.navigation.sezioni</span>
          <span listHeading>
            <a class="pb-1" href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: ''}">
              Tutte le Regole
            </a>
            <hr class="my-0">
          </span>
          <ng-container list>
            <it-dropdown-item href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: 'amministrazione-trasparente'}">
              <span>Amministrazione Trasparente</span>
            </it-dropdown-item>
            <it-dropdown-item href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: 'patrimonio-immobiliare'}">
              <span>Patrimonio immobiliare</span>
            </it-dropdown-item>
            <it-dropdown-item href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: 'canoni-locazione-affitto'}">
              <span>Canoni di locazione o affitto</span>
            </it-dropdown-item>
            <it-dropdown-item href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: 'bandi-gara-contratti'}">
              <span>Bandi di gara e contratti</span>
            </it-dropdown-item>
            <it-dropdown-item href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: 'bandi-concorso'}">
              <span>Bandi di concorso</span>
            </it-dropdown-item>
            <it-dropdown-item href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: 'prevenzione-corruzione'}">
              <span>Prevenzione della corruzione</span>
            </it-dropdown-item>
            <it-dropdown-item href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: 'indicatore-tempestivita-pagamenti'}">
              <span>Indicatore di tempestività dei pagamenti</span>
            </it-dropdown-item>
            <it-dropdown-item href="#" (click)="toggleCollapse()" routerLink="/search" [queryParams]="{ruleName: 'bilanci'}">
              <span>Bilanci</span>
            </it-dropdown-item>
          </ng-container>
        </it-dropdown>
      </it-navbar-item>

    }
  </ng-container>
</it-header>
<it-notifications [duration]="3000"></it-notifications>