<div class="container pt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="avatar-wrapper avatar-extra-text">
                <div class="avatar size-xl">
                  <img src="./assets/images/1.png" alt="" aria-hidden="true">
                </div>
                <div class="extra-text">
                  <it-callout appearance="highlight" color="note" label="Ivan Duca" icon="user">
                      <div><strong class="text-primary ">Consiglio Nazionale</strong><span class="text-primary"> delle </span><strong class="text-primary">Ricerche</strong></div>
                      <a href="mailto:ivan.duca@cnr.it">ivan.duca&#64;cnr.it</a>
                  </it-callout>
                </div>
              </div>      
        </div>
        <div class="col-md-4">
            <div class="avatar-wrapper avatar-extra-text">
                <div class="avatar size-xl">
                  <img src="./assets/images/3.png" alt="" aria-hidden="true">
                </div>
                <div class="extra-text">
                  <it-callout appearance="highlight" color="note" label="Massimo Ianigro" icon="user">
                      <div><strong class="text-primary ">Consiglio Nazionale</strong><span class="text-primary"> delle </span><strong class="text-primary">Ricerche</strong></div>
                      <a href="mailto:massimo.ianigro@cnr.it">massimo.ianigro&#64;cnr.it</a>
                  </it-callout>
                </div>
              </div>      
        </div>
        <div class="col-md-4">
            <div class="avatar-wrapper avatar-extra-text">
                <div class="avatar size-xl">
                  <img src="./assets/images/7.png" alt="" aria-hidden="true">
                </div>
                <div class="extra-text">
                  <it-callout appearance="highlight" color="note" label="Marco Spasiano" icon="user">
                      <div><strong class="text-primary ">Consiglio Nazionale</strong><span class="text-primary"> delle </span><strong class="text-primary">Ricerche</strong></div>
                      <a href="mailto:marco.spasiano@cnr.it">marco.spasiano&#64;cnr.it</a>
                  </it-callout>
                </div>
              </div>      
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="avatar-wrapper avatar-extra-text">
                <div class="avatar size-xl">
                  <img src="./assets/images/2.png" alt="" aria-hidden="true">
                </div>
                <div class="extra-text">
                  <it-callout appearance="highlight" color="note" label="Cristian Lucchesi" icon="user">
                      <div><strong class="text-primary ">Consiglio Nazionale</strong><span class="text-primary"> delle </span><strong class="text-primary">Ricerche</strong></div>
                      <a href="mailto:cristian.lucchesi@cnr.it">cristian.lucchesi&#64;cnr.it</a>
                  </it-callout>
                </div>
              </div>      
        </div>
        <div class="col-md-4">
            <div class="avatar-wrapper avatar-extra-text">
                <div class="avatar size-xl">
                  <img src="./assets/images/5.png" alt="" aria-hidden="true">
                </div>
                <div class="extra-text">
                  <it-callout appearance="highlight" color="note" label="Claudia Greco" icon="user">
                      <div><strong class="text-primary ">Consiglio Nazionale</strong><span class="text-primary"> delle </span><strong class="text-primary">Ricerche</strong></div>
                      <a href="mailto:claudia.greco@cnr.it">claudia.greco&#64;cnr.it</a>
                  </it-callout>
                </div>
              </div>      
        </div>
        <div class="col-md-4">
            <div class="avatar-wrapper avatar-extra-text">
                <div class="avatar size-xl">
                  <img src="./assets/images/6.png" alt="" aria-hidden="true">
                </div>
                <div class="extra-text">
                  <it-callout appearance="highlight" color="note" label="Dario Elia" icon="user">
                      <div><strong class="text-primary">Consulente</strong></div>
                      <a href="mailto:dario.elia@senato.it">dario.elia&#64;senato.it</a>
                  </it-callout>
                </div>
              </div>      
        </div>
    </div>
</div>
