
$fa-font-path : '../node_modules/font-awesome/fonts';

// ####################################################################################
//                                    Fonts
// ####################################################################################


// ####################################################################################
//                                    Colors
// ####################################################################################
// $focus-outline-color: transparent;
// $btn-box-shadow: none;
// $link-decoration: none;

// $primary-h: 0;
// $primary-s: 80;
// $primary-b: 100;

$enable-gradients: true;
$enable-negative-margins: true;
$zindex-fixed: 1001;
$nav-link-padding-x: 0.5rem;

// ####################################################################################
//                                    Navbar Dropdown
// ####################################################################################


// ####################################################################################
//                                    Form Input
// ####################################################################################


// ####################################################################################
//                                    Spacing
// ####################################################################################